{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;500;600;700;800;900&family=Old+Standard+TT:wght@400;700&family=Roboto:wght@300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      href="https://png.pngtree.com/element_our/png_detail/20181207/creative-hotel-icon-background-png_263993.jpg"
      type="image/x-icon"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />
    <title>Hotel Miranda</title>
  </head>

  <body>
    <section class="header-box">
      <h6 class="header-box__mini-title">We Make Your Feel Comfortable</h6>
      <header class="header-box__header">
        <div class="header-box__header__left">
          <button class="header-box__header__left__menu">
            <img
              src="{% static 'public/icons/navbar/menu.svg' %}"
              alt=""
              id="btnMenu"
            />
            <img
              src="{% static 'public/icons/navbar/frame.svg' %}"
              alt=""
              id="btnFrame"
            />
          </button>
          <a href="{% url 'home' %}" class="header-box__header__left__logo">
            <h1 class="header-box__header__left__logo__H">H</h1>
            <h1 class="header-box__header__left__logo__name">
              Hotel <span>Miranda</span>
            </h1>
          </a>
        </div>

        <nav class="navbar" id="navbar">
          <a href="{% url 'about' %}" class="navbar__links">About Us</a>
          <a href="{% url 'rooms' %}" class="navbar__links">Rooms</a>
          <a href="{% url 'offers' %}" class="navbar__links">Offers</a>
          <a href="{% url 'contacts' %}" class="navbar__links">Contact</a>
        </nav>

        <div class="header-box__header__icons">
          <img
            src="{% static 'public/icons/header/user.png' %}"
            class="header-box__header__icons__icon"
          />
          <img
            src="{% static 'public/icons/header/search.png' %}"
            class="header-box__header__icons__icon"
          />
        </div>
      </header>
    </section>

    <section class="main-about">
      <h3 class="main-about__subtitle">THE ULTIMATE LUXURY</h3>
      <h1 class="main-about__title">New Details</h1>
      <img
        class="main-about__img"
        src="{% static 'public/images/contact/pexels-adrien-olichon-2387793.jpg' %}"
        alt=""
      />
      <div class="main-about__box">
        <a class="main-about__box__home" href="{% url 'home' %}"
          >Home | <span>Blog</span></a
        >
      </div>
    </section>

    <section class="contact-info">
      <article class="contact-info__box">
        <img
          class="contact-info__box__number"
          src="{% static 'public/icons/contact/01.png' %}"
          alt=""
        />
        <div class="contact-info__box__data">
          <img
            class="contact-info__box__data__icon"
            src="{% static 'public/icons/footer/contact/icon location.png' %}"
            alt=""
          />
          <div class="contact-info__box__data__flex">
            <h6 class="contact-info__box__data__flex__text">Hotel Address</h6>
            <p class="contact-info__box__data__flex__description">
              Sayan, Ubud, Bali 80571, Indonesia
            </p>
          </div>
        </div>
      </article>

      <article class="contact-info__box">
        <img
          class="contact-info__box__number"
          src="{% static 'public/icons/contact/02.png' %}"
          alt=""
        />
        <div class="contact-info__box__data">
          <img
            class="contact-info__box__data__icon"
            src="{% static 'public/icons/footer/contact/icon tfno.png' %}"
            alt=""
          />
          <div class="contact-info__box__data__flex">
            <h6 class="contact-info__box__data__flex__text">Phone Number</h6>
            <p class="contact-info__box__data__flex__description">
              + 97656 8675 7864 7 <br />
              + 876 766 8675 765 6
            </p>
          </div>
        </div>
      </article>

      <article class="contact-info__box">
        <img
          class="contact-info__box__number"
          src="{% static 'public/icons/contact/03.png' %}"
          alt=""
        />
        <div class="contact-info__box__data">
          <img
            class="contact-info__box__data__icon"
            src="{% static 'public/icons/footer/contact/icon email.png' %}"
            alt=""
          />
          <div class="contact-info__box__data__flex">
            <h6 class="contact-info__box__data__flex__text">Email</h6>
            <p class="contact-info__box__data__flex__description">
              info@webmail.com <br />
              jobs.webmail@mail.com
            </p>
          </div>
        </div>
      </article>
    </section>

    <section class="form-contact">
      <form class="form-contact__form" action="">
        <div class="form-contact__form__column">
          <label class="form-contact__form__column__box">
            <img
              class="form-contact__form__column__box__img"
              src="{% static 'public/icons/contact/form/user.svg' %}"
              alt="icon user"
            />
            <input
              class="form-contact__form__column__box__input"
              placeholder="Your full name"
              type="text"
            />
          </label>
          <label class="form-contact__form__column__box">
            <img
              class="form-contact__form__column__box__img"
              src="{% static 'public/icons/contact/form/phone.svg' %}"
              alt="icon telephone"
            />
            <input
              class="form-contact__form__column__box__input"
              placeholder="Add phone number"
              type="number"
            />
          </label>
        </div>
        <div class="form-contact__form__column">
          <label class="form-contact__form__column__box">
            <img
              class="form-contact__form__column__box__img"
              src="{% static 'public/icons/contact/form/email.svg' %}"
              alt="icon email"
            />
            <input
              class="form-contact__form__column__box__input"
              placeholder="Enter email address"
              type="email"
            />
          </label>
          <label class="form-contact__form__column__box">
            <img
              class="form-contact__form__column__box__img"
              src="{% static 'public/icons/contact/form/subject.svg' %}"
              alt="icon subject"
            />
            <input
              class="form-contact__form__column__box__input"
              class="form-contact__form_input"
              placeholder="Enter subject"
              type="text"
            />
          </label>
        </div>

        <div class="form-contact__form__flex">
          <label class="form-contact__form__flex__boxarea">
            <img
              class="form-contact__form__flex__boxarea__image"
              src="{% static 'public/icons/contact/form/message.svg' %}"
              alt="icon pen"
            />
            <textarea
              class="form-contact__form__flex__boxarea__textarea"
              placeholder="Enter message"
            ></textarea>
          </label>

          <div class="form-contact__form__flex__box-button">
            <button
              class="form-contact__form__flex__box-button__submit"
              type="submit"
            >
              SEND
            </button>
          </div>
        </div>
      </form>
    </section>

    <footer class="footer">
      <div class="footer__box">
        <article class="footer__box__intro">
          <div class="footer__box__intro__text">
            <h1 class="footer__box__intro__text__letter">H</h1>
            <h2 class="footer__box__intro__text__title">
              Hotel <span>Miranda</span>
            </h2>
          </div>
          <p class="footer__box__intro__text__paragraph">
            Lorem ipsum dolor sit amet, consect etur adipisicing elit, sed doing
            eius mod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitat ion ullamco laboris nisi.
          </p>
          <div class="footer__box__intro-social">
            <img
              src="{% static 'public/icons/footer/facebook-logo-24.png' %}"
              alt=""
            />
            <img
              src="{% static 'public/icons/footer/twitter-logo-24.png' %}"
              alt=""
            />
            <img
              src="{% static 'public/icons/footer/behance-logo-24.png' %}"
              alt=""
            />
            <img
              src="{% static 'public/icons/footer/linkedin-logo-24.png' %}"
              alt=""
            />
            <img
              src="{% static 'public/icons/footer/youtube-logo-24.png' %}"
              alt=""
            />
          </div>
        </article>

        <article class="footer__box__services">
          <h3 class="footer__box__services__title">Services.</h3>
          <div class="footer__box__services__container">
            <ul class="footer__box__services__container__list">
              <li>+ Restaurant & Bar</li>
              <li>+ Swimming Pool</li>
              <li>+ Wellness & Spa</li>
              <li>+ Restaurant</li>
              <li>+ Conference Room</li>
              <li>+ Coctail Party House</li>
            </ul>
            <ul class="footer__box__services__container__list">
              <li>+ Gaming Zone</li>
              <li>+ Marrige Party</li>
              <li>+ Party Planning</li>
              <li>+ Tour Consultancy</li>
            </ul>
          </div>
        </article>

        <article class="footer__box__contact">
          <h3 class="footer__box__contact__title">Contact Us.</h3>
          <div class="footer__box__contact__box">
            <img
              src="{% static 'public/icons/footer/contact/icon tfno.png' %}"
              alt=""
            />
            <div class="footer__box__contact__box__info">
              <h6>Phone Number</h6>
              <p>+987 876 765 76 577</p>
            </div>
          </div>
          <div class="footer__box__contact__box">
            <img
              src="{% static 'public/icons/footer/contact/icon email.png' %}"
              alt=""
            />
            <div class="footer__box__contact__box__info">
              <h6>Email</h6>
              <p>hotelmiranda@.es</p>
            </div>
          </div>
          <div class="footer__box__contact__box">
            <img
              src="{% static 'public/icons/footer/contact/icon location.png' %}"
              alt=""
            />
            <div class="footer__box__contact__box__info">
              <h6>Hotel Address</h6>
              <p>Sayan, Bali 80571</p>
            </div>
          </div>
        </article>
      </div>
      <div class="footer__copyright">
        <p>Copyright By@Example - 2020</p>
        <p>Terms of use | Privacy Environmental Policy</p>
      </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script type="module" src="{% static 'scripts/navbar.js' %}"></script>
    <script type="module" src="{% static 'scripts/swipers.js' %}"></script>
    <script type="module" src="{% static 'scripts/header.js' %}"></script>
  </body>
</html>
