{% extends 'base.html' %}

{% load static %}

{% block content %} 

    <section class="main-about">
      <h3 class="main-about__subtitle">THE ULTIMATE LUXURY</h3>
      <h1 class="main-about__title">Our Offers</h1>
      <img
        class="main-about__img"
        src="{% static 'public/images/contact/pexels-adrien-olichon-2387793.jpg' %}"
        alt=""
      />
      <div class="main-about__box">
        <a class="main-about__box__home" href="{% url 'home' %}"
          >Home | <span>Offers</span></a
        >
      </div>
    </section>

    {% for room in rooms %}
    {% if room.discount != 0 %}
    <section class="card-offers">
      <div class="card-offers__box-image">
        <img
          class="card-offers__box-image__image"
          src="{{ room.photo }}"
          alt=""
        />
      </div>
      <article class="card-offers__container">
        <div class="card-offers__container__header-card">
          <div class="card-offers__container__header-card__box-title">
            <h3
              class="card-offers__container__header-card__box-title__subtitle"
            >
              {{ room.room }}
            </h3>
            <h1 class="card-offers__container__header-card__box-title__title">
              Luxury {{ room.room }}
            </h1>
          </div>
          <div class="card-offers__container__header-card__box-price">
            <div
              class="card-offers__container__header-card__box-price__strikethrough"
            >
              <h5>{{ room.price }}</h5>
              <span>/Night</span>
            </div>
            <h5 class="card-offers__container__header-card__box-price__offer">
              {{ room.discounted_price }}<span>/Night</span>
            </h5>
          </div>
        </div>
        <div class="card-offers__container__flex">
          <div class="card-offers__container__flex__description">
            <p class="card-offers__container__flex__description__paragraph">
              {{ room.description }}
            </p>
          </div>

          <div class="card-offers__container__flex__box-list">
            <ul class="card-offers__container__flex__box-list__list">
              {% for amenity in amenities %}
                {% if amenity in room.facilities %}
                  <li class="card-offers__container__flex__box-list__list__items">
                    {% if amenity == 'Air conditioner' %}
                      <img class="card-offers__container__flex__box-list__list__items__icon" src="{% static 'public/icons/room-details/air.svg' %}" alt="" />
                    {% elif amenity == 'High speed WiFi' %}
                      <img class="card-offers__container__flex__box-list__list__items__icon" src="{% static 'public/icons/room-details/wifi.svg' %}" alt="" />
                    {% elif amenity == 'Breakfast' %}
                      <img class="card-offers__container__flex__box-list__list__items__icon" src="{% static 'public/icons/room-details/breakfast.svg' %}" alt="" />
                    {% elif amenity == 'Kitchen' %}
                      <img class="card-offers__container__flex__box-list__list__items__icon" src="{% static 'public/icons/room-details/kitchen.svg' %}" alt="" />
                    {% elif amenity == 'Cleaning' %}
                      <img class="card-offers__container__flex__box-list__list__items__icon" src="{% static 'public/icons/room-details/cleaning.svg' %}" alt="" />
                    {% elif amenity == 'Shower' %}
                      <img class="card-offers__container__flex__box-list__list__items__icon" src="{% static 'public/icons/room-details/shower.svg' %}" alt="" />
                    {% elif amenity == 'Grocery' %}
                      <img class="card-offers__container__flex__box-list__list__items__icon" src="{% static 'public/icons/room-details/cleaning.svg' %}" alt="" />
                    {% elif amenity == 'Single bed' %}
                      <img class="card-offers__container__flex__box-list__list__items__icon" src="{% static 'public/icons/room-details/bed.svg' %}" alt="" />
                    {% elif amenity == 'Shop near' %}
                      <img class="card-offers__container__flex__box-list__list__items__icon" src="{% static 'public/icons/room-details/grocery.svg' %}" alt="" />
                    {% elif amenity == 'Towels' %}
                      <img class="card-offers__container__flex__box-list__list__items__icon" src="{% static 'public/icons/room-details/towels.svg' %}" alt="" />
                    {% elif amenity == '24/7 Online Support' %}
                      <img class="card-offers__container__flex__box-list__list__items__icon" src="{% static 'public/icons/room-details/shop.svg' %}" alt="" />
                    {% elif amenity == 'Strong Locker' %}
                      <img class="card-offers__container__flex__box-list__list__items__icon" src="{% static 'public/icons/room-details/strong locker.svg' %}" alt="" />
                    {% elif amenity == 'Smart Security' %}
                      <img class="card-offers__container__flex__box-list__list__items__icon" src="{% static 'public/icons/room-details/security.svg' %}" alt="" />
                    {% elif amenity == 'Expert Team' %}
                      <img class="card-offers__container__flex__box-list__list__items__icon" src="{% static 'public/icons/room-details/team.svg' %}" alt="" />
                    {% endif %}
                    <span class="card-offers__container__flex__box-list__list__items__text">{{ amenity }}</span>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
            
          </div>
        </div>
        <div class="card-offers__container__box-button">
          <button class="card-offers__container__box-button__button">
            <a href="{% url 'room_details' room.id %}"> Book Now </a>
          </button>
        </div>
      </article>
    </section>
    {% endif %}
    {% endfor %}
    
    {% endblock %}