{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="main-login">
    <article class="main-login__card">
        <h2>User Profile</h2>
        <p>Username: {{ user.username }}</p>
        <p>Name: {{ user.first_name }} {{ user.last_name }}</p>
        <p>Email: {{ user.email }}</p>
        
        <p><a href="{% url 'password_change' %}">Change password</a></p>
        
        <h3>Orders</h3>
        <ul>
            <li><a href="{% url 'order_list' %}">View Orders</a></li>
            <li><a href="{% url 'order_create' %}">Create Order</a></li>
        </ul>
        
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    </article>
</section>
{% endblock %}