{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;500;600;700;800;900&family=Old+Standard+TT:wght@400;700&family=Roboto:wght@300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      href="https://png.pngtree.com/element_our/png_detail/20181207/creative-hotel-icon-background-png_263993.jpg' %}"
      type="image/x-icon"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />
    <title>Hotel Miranda</title>
  </head>
  <body>
    <section class="header-box">
      <header class="header-box__header">
        <div class="header-box__header__left">
          <button class="header-box__header__left__menu">
            <img
              src="{% static 'public/icons/navbar/menu.svg' %}"
              alt=""
              id="btnMenu"
            />
            <img
              src="{% static 'public/icons/navbar/frame.svg' %}"
              alt=""
              id="btnFrame"
            />
          </button>
          <a href="{% url 'home' %}" class="header-box__header__left__logo">
            <h1 class="header-box__header__left__logo__H">H</h1>
            <h1 class="header-box__header__left__logo__name">Hotel Miranda</h1>
          </a>
        </div>

        <nav class="navbar" id="navbar">
          <a href="{% url 'about' %}" class="navbar__links">About Us</a>
          <a href="{% url 'rooms' %}" class="navbar__links">Rooms</a>
          <a href="{% url 'offers' %}" class="navbar__links">Offers</a>
          <a href="{% url 'contacts' %}" class="navbar__links">Contact</a>
        </nav>

        <div class="header-box__header__icons">
          <img
            src="{% static 'public/icons/header/user.png' %}"
            class="header-box__header__icons__icon"
          />
          <img
            src="{% static 'public/icons/header/search.png' %}"
            class="header-box__header__icons__icon"
          />
        </div>
      </header>
    </section>

    <section class="main-about">
      <h3 class="main-about__subtitle">THE ULTIMATE LUXURY</h3>
      <h1 class="main-about__title">Ultimate Room</h1>
      <img
        class="main-about__img"
        src="{% static 'public/images/contact/pexels-adrien-olichon-2387793.jpg' %}"
        alt=""
      />
      <div class="main-about__box main-details-w">
        <a class="main-about__box__home" href="{% url 'home' %}">
          Home | <span>Room Details</span>
        </a>
      </div>
    </section>

    {% if error %}
    <p>Error: {{ error }}</p>
    {% else %}

    <section class="info-check">
      <article class="info-check__container">
        <div class="info-check__container__text-and-img">
          <div class="info-check__container__text-and-img__text">
            <div>
              <h3 class="info-check__container__text-and-img__text__subtitle">
                {{ data.room }}
              </h3>
              <h1 class="info-check__container__text-and-img__text__title">
                Luxury {{ data.room }}
              </h1>
            </div>
            <p class="info-check__container__text-and-img__text__price">
              ${{ data.discounted_price }}<span>/Night</span>
            </p>
          </div>
          <div class="info-check__container__text-and-img__image">
            <img src="{{ data.photo }}" alt="" />
          </div>
        </div>


        <article class="info-check__container__check">
          <h4 class="info-check__container__check__title">
            Make your reservation
          </h4>

          <form class="info-check__container__check__form" method="POST">
            {% csrf_token %}
            <label class="info-check__container__check__form__label" for="">
              Your name
            </label>
            {{ form.name }}

            <label class="info-check__container__check__form__label" for="">
              Check In
            </label>
            {{ form.checkin}}

            <label class="info-check__container__check__form__label" for="">
              Check Out
            </label>
            {{ form.checkout}}

            <label class="info-check__container__check__form__label" for="">
              Notes
            </label>
            {{ form.notes}}

            <button
              class="info-check__container__check__form__button"
              type="submit"
            >
              book now
            </button>
          </form>
        </article>

        <p class="info-check__container__paragraph">{{ data.description }}</p>
      </article>
    </section>

    {% endif %}

    <section class="amenities">
      <h3 class="amenities__title">Amenities</h3>
      <ul class="amenities__list">
        {% for amenity in amenities %} {% if amenity in data.facilities %}
        <li class="amenities__list__items">
          {% if amenity == 'Air conditioner' %}
          <img
            class="amenities__list__items__icon"
            src="{% static 'public/icons/room-details/air.svg' %}"
            alt=""
          />
          {% elif amenity == 'High speed WiFi' %}
          <img
            class="amenities__list__items__icon"
            src="{% static 'public/icons/room-details/wifi.svg' %}"
            alt=""
          />
          {% elif amenity == 'Breakfast' %}
          <img
            class="amenities__list__items__icon"
            src="{% static 'public/icons/room-details/breakfast.svg' %}"
            alt=""
          />
          {% elif amenity == 'Kitchen' %}
          <img
            class="amenities__list__items__icon"
            src="{% static 'public/icons/room-details/kitchen.svg' %}"
            alt=""
          />
          {% elif amenity == 'Cleaning' %}
          <img
            class="amenities__list__items__icon"
            src="{% static 'public/icons/room-details/cleaning.svg' %}"
            alt=""
          />
          {% elif amenity == 'Shower' %}
          <img
            class="amenities__list__items__icon"
            src="{% static 'public/icons/room-details/shower.svg' %}"
            alt=""
          />
          {% elif amenity == 'Grocery' %}
          <img
            class="amenities__list__items__icon"
            src="{% static 'public/icons/room-details/cleaning.svg' %}"
            alt=""
          />
          {% elif amenity == 'Single bed' %}
          <img
            class="amenities__list__items__icon"
            src="{% static 'public/icons/room-details/bed.svg' %}"
            alt=""
          />
          {% elif amenity == 'Shop near' %}
          <img
            class="amenities__list__items__icon"
            src="{% static 'public/icons/room-details/grocery.svg' %}"
            alt=""
          />
          {% elif amenity == 'Towels' %}
          <img
            class="amenities__list__items__icon"
            src="{% static 'public/icons/room-details/towels.svg' %}"
            alt=""
          />
          {% elif amenity == '24/7 Online Support' %}
          <img
            class="amenities__list__items__icon"
            src="{% static 'public/icons/room-details/shop.svg' %}"
            alt=""
          />
          {% elif amenity == 'Strong Locker' %}
          <img
            class="amenities__list__items__icon"
            src="{% static 'public/icons/room-details/strong locker.svg' %}"
            alt=""
          />
          {% elif amenity == 'Smart Security' %}
          <img
            class="amenities__list__items__icon"
            src="{% static 'public/icons/room-details/security.svg' %}"
            alt=""
          />
          {% elif amenity == 'Expert Team' %}
          <img
            class="amenities__list__items__icon"
            src="{% static 'public/icons/room-details/team.svg' %}"
            alt=""
          />
          {% endif %}
          <span class="amenities__list__items__text">{{ amenity }}</span>
        </li>
        {% endif %} {% endfor %}
      </ul>
    </section>

    <section class="user">
      <article class="user__box">
        <div class="user__box__image">
          <div class="user__box__image__icon">
            <img
              class="user__box__image__icon__check"
              src="{% static 'public/icons/room-details/user/check.svg' %}"
              alt=""
            />
          </div>
        </div>
        <div class="user__box__text">
          <h4 class="user__box__text__name"></h4>
          <h5 class="user__box__text__position"></h5>
          <p class="user__box__text__description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore.
          </p>
        </div>
      </article>
    </section>

    {% if data %}
    <section class="cancelation">
      <h3 class="cancelation__title">Cancellation</h3>
      <p class="cancelation__text">{{data.cancel}}</p>
    </section>
    {% endif %}

    <section class="swiper related-rooms" id="swiperRelatedRooms">
      <div class="swiper-wrapper">
        {% for room in rooms %} {% if room.status == "available" %}
        <article class="swiper-slide related-rooms__box">
          <img
            class="related-rooms__box__image"
            src="{{ room.photo }}"
            alt=""
          />
          <div class="related-rooms__box__text">
            <div class="related-rooms__box__text__icons">
              <img
                src="{% static 'public/icons/home/rooms/bed.svg' %}"
                alt="icon bed"
                class="related-rooms__box__text__icons__image"
              />
              <img
                src="{% static 'public/icons/home/rooms/wifi.svg' %}"
                alt="icon wifi"
                class="related-rooms__box__text__icons__image"
              />
              <img
                src="{% static 'public/icons/home/rooms/car.svg' %}"
                alt="icon parking"
                class="related-rooms__box__text__icons__image"
              />
              <img
                src="{% static 'public/icons/home/rooms/cold.svg' %}"
                alt="icon cold"
                class="related-rooms__box__text__icons__image"
              />
              <img
                src="{% static 'public/icons/home/rooms/gym.svg' %}"
                alt="icon gym"
                class="related-rooms__box__text__icons__image"
              />
              <img
                src="{% static 'public/icons/home/rooms/smoking.svg' %}"
                alt="icon no smoke"
                class="related-rooms__box__text__icons__image"
              />
              <img
                src="{% static 'public/icons/home/rooms/bar.svg' %}"
                alt="icon bar"
                class="related-rooms__box__text__icons__image"
              />
            </div>
            <h2 class="related-rooms__box__text__title">
              Minimal {{ room.room }}
            </h2>
            <p class="related-rooms__box__text__paragraph">
              {{ room.description }}
            </p>
          </div>
          <div class="related-rooms__box__box-price">
            <p class="related-rooms__box__box-price__price">
              {{ room.price }} <span>/Night</span>
            </p>
            <a href="{% url 'room_details' room.id %}">
              <button class="related-rooms__box__box-price__button"></button>
            </a>
          </div>
        </article>
        {% endif %} {% endfor %}
      </div>
      <div class="related-rooms__scroll">
        <button
          class="swiper-button-prev related-rooms__scroll__button-prev"
        ></button>
        <button
          class="swiper-button-next related-rooms__scroll__button-next"
        ></button>
      </div>
    </section>

    <footer class="footer">
      <div class="footer__box">
        <article class="footer__box__intro">
          <div class="footer__box__intro__text">
            <h1 class="footer__box__intro__text__letter">H</h1>
            <h2 class="footer__box__intro__text__title">
              Hotel <span>Miranda</span>
            </h2>
          </div>
          <p class="footer__box__intro__text__paragraph">
            Lorem ipsum dolor sit amet, consect etur adipisicing elit, sed doing
            eius mod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitat ion ullamco laboris nisi.
          </p>
          <div class="footer__box__intro-social">
            <img
              src="{% static 'public/icons/footer/facebook-logo-24.png' %}"
              alt=""
            />
            <img
              src="{% static 'public/icons/footer/twitter-logo-24.png' %}"
              alt=""
            />
            <img
              src="{% static 'public/icons/footer/behance-logo-24.png' %}"
              alt=""
            />
            <img
              src="{% static 'public/icons/footer/linkedin-logo-24.png' %}"
              alt=""
            />
            <img
              src="{% static 'public/icons/footer/youtube-logo-24.png' %}"
              alt=""
            />
          </div>
        </article>

        <article class="footer__box__services">
          <h3 class="footer__box__services__title">Services.</h3>
          <div class="footer__box__services__container">
            <ul class="footer__box__services__container__list">
              <li>+ Restaurant & Bar</li>
              <li>+ Swimming Pool</li>
              <li>+ Wellness & Spa</li>
              <li>+ Restaurant</li>
              <li>+ Conference Room</li>
              <li>+ Coctail Party House</li>
            </ul>
            <ul class="footer__box__services__container__list">
              <li>+ Gaming Zone</li>
              <li>+ Marrige Party</li>
              <li>+ Party Planning</li>
              <li>+ Tour Consultancy</li>
            </ul>
          </div>
        </article>

        <article class="footer__box__contact">
          <h3 class="footer__box__contact__title">Contact Us.</h3>
          <div class="footer__box__contact__box">
            <img
              src="{% static 'public/icons/footer/contact/icon tfno.png' %}"
              alt=""
            />
            <div class="footer__box__contact__box__info">
              <h6>Phone Number</h6>
              <p>+987 876 765 76 577</p>
            </div>
          </div>
          <div class="footer__box__contact__box">
            <img
              src="{% static 'public/icons/footer/contact/icon email.png' %}"
              alt=""
            />
            <div class="footer__box__contact__box__info">
              <h6>Email</h6>
              <p>hotelmiranda@.es</p>
            </div>
          </div>
          <div class="footer__box__contact__box">
            <img
              src="{% static 'public/icons/footer/contact/icon location.png' %}"
              alt=""
            />
            <div class="footer__box__contact__box__info">
              <h6>Hotel Address</h6>
              <p>Sayan, Bali 80571</p>
            </div>
          </div>
        </article>
      </div>
      <div class="footer__copyright">
        <p>Copyright By@Example - 2020</p>
        <p>Terms of use | Privacy Environmental Policy</p>
      </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script type="module" src="{% static 'scripts/navbar.js' %}"></script>
    <script type="module" src="{% static 'scripts/swipers.js' %}"></script>
    <script type="module" src="{% static 'scripts/header.js' %}"></script>
  </body>
</html>
