{% extends 'base.html' %}

{% load static %}

{% block content %} 

    <section class="main-about">
      <h3 class="main-about__subtitle">THE ULTIMATE LUXURY</h3>
      <h1 class="main-about__title">Ultimate Room</h1>
      <img
        class="main-about__img"
        src="{% static 'public/images/contact/pexels-adrien-olichon-2387793.jpg' %}"
        alt=""
      />
      <div class="main-about__box">
        <a class="main-about__box__home" href="{% url 'home' %}">
          Home | <span>Rooms</span>
        </a>
      </div>
    </section>

    <section class="container-rooms">
      {% for room in page_obj.object_list %}
      <article class="rooms-grid">
        <a href="{% url 'room_details' room.id %}" class="rooms-grid__box">
          <img class="rooms-grid__box__image" src="{{ room.photo }}" alt="" />
          <div class="rooms-grid__box__text">
            <div class="rooms-grid__box__text__icons">
              <img
                src="{% static 'public/icons/home/rooms/bed.svg' %}"
                alt="icon bed"
                class="rooms-grid__box__text__icons__image"
              />
              <img
                src="{% static 'public/icons/home/rooms/wifi.svg' %}"
                alt="icon wifi"
                class="rooms-grid__box__text__icons__image"
              />
              <img
                src="{% static 'public/icons/home/rooms/car.svg' %}"
                alt="icon parking"
                class="rooms-grid__box__text__icons__image"
              />
              <img
                src="{% static 'public/icons/home/rooms/cold.svg' %}"
                alt="icon cold"
                class="rooms-grid__box__text__icons__image"
              />
              <img
                src="{% static 'public/icons/home/rooms/gym.svg' %}"
                alt="icon gym"
                class="rooms-grid__box__text__icons__image"
              />
              <img
                src="{% static 'public/icons/home/rooms/smoking.svg' %}"
                alt="icon no smoke"
                class="rooms-grid__box__text__icons__image"
              />
              <img
                src="{% static 'public/icons/home/rooms/bar.svg' %}"
                alt="icon bar"
                class="rooms-grid__box__text__icons__image"
              />
            </div>
            <h2 class="rooms-grid__box__text__title">{{ room.room }}</h2>
            <p class="rooms-grid__box__text__paragraph">
              {{ room.description }}
            </p>
          </div>
          <div class="rooms-grid__box__box-price">
            <p class="rooms-grid__box__box-price__price">
              {{ room.price }} <span>/Night</span>
            </p>
            <button class="rooms-grid__box__box-price__button"></button>
          </div>
        </a>
      </article>
      {% endfor %}
    </section>

    <article class="pagination">
      <div class="pagination__rooms">
          {% if page_obj.has_previous %}
              <button class="pagination__rooms__move" id="previous">
                  <a href="?page=1">
                      <img src="{% static 'public/icons/rooms/arrow-prev.svg' %}" alt="" />
                  </a>
              </button>
          {% endif %}
  
          {% for page_num in page_obj.paginator.page_range %}
              {% if page_obj.number == page_num %}
                  <button class="pagination__rooms__page active-page " id="page{{ page_num }}">{{ page_num }}</button>
              {% else %}
                  <button class="pagination__rooms__page" id="page{{ page_num }}">
                      <a href="?page={{ page_num }}">{{ page_num }}</a>
                  </button>
              {% endif %}
          {% endfor %}
  
          {% if page_obj.has_next %}
              <button class="pagination__rooms__move" id="next">
                  <a href="?page={{ page_obj.paginator.num_pages }}">
                      <img src="{% static 'public/icons/rooms/arrow-next.svg' %}" alt="" />
                  </a>
              </button>
          {% endif %}
      </div>
    </article>

    {% endblock %}
