.main-rooms {
  width: 100%;
  height: auto;

  &__img {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 16.5em;
    display: flex;
    flex-direction: column;
    filter: brightness(70%);
  }

  &__subtitle {
    position: absolute;
    z-index: 1;
    margin-top: 5.7em;
    margin-left: 1.2em;
    color: #fff;
    font-family: $secondary-font;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 2.8px;
  }

  &__title {
    position: absolute;
    top: 3em;
    z-index: 1;
    margin-top: 0.1em;
    margin-left: 0.2em;
    width: 80%;
    color: #fff;
    font-family: $primary-font;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -1.2px;
  }

  &__box {
    margin-top: -3em;
    margin-right: 1em;
    z-index: 1;
    position: absolute;
    right: 0px;
    width: 9.75em;
    height: 3em;
    flex-shrink: 0;
    background: #fff;

    &__home {
      margin-top: 1em;
      margin-left: 1.5em;
      color: #222;
      font-family: $secondary-font;
      font-size: 1rem;
      font-weight: 700;
      letter-spacing: -0.48px;
    }

    &__home span {
      color: #bead8e;
      font-family: $secondary-font;
      font-size: 1rem;
      font-weight: 700;
      letter-spacing: -0.48px;
    }
  }
}
