.contact-info {
  margin-top: 1.5em;
  width: 100%;
  &__box {
    margin-top: 2.9em;
    display: flex;
    align-items: center;
    position: relative;
    height: 11.8em;
    gap: 2.9em;
    &__number {
      right: 1.3em;
      bottom: 0;
      position: absolute;
      z-index: 0;
      width: auto;
      height: 80%;
    }
    &__data {
      width: 80%;
      height: 50%;
      display: flex;
      gap: 1.7em;
      z-index: 1;

      &__icon {
        margin-left: 2em;
        width: 2.5em;
        height: 2.5em;
        flex-shrink: 0;
      }
      &__flex {
        &__text {
          color: #222;
          font-family: $primary-font;
          font-size: 1.2rem;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
        }
        &__description {
          margin-top: 1em;
          color: #777;
          font-family: $third-font;
          font-size: 0.9rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .contact-info {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    &__box {
      max-width: 25em;
    }
  }
}

@media screen and (min-width: 1130px) {
  .contact-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 73em;
  }
}
